@using System.Security.Claims;

@model EditProductViewModel

<form asp-action="EditProduct" asp-controller="Product" enctype="multipart/form-data">
    @Model.Store
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="Store" value="@Model.Store" />
    <div>
        <label for="name">Product name:</label>
        <textarea name="Name"></textarea>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea name="Description"></textarea>
    </div>
    <div>
        <label for="category">Category:</label>
        <textarea name="Category"></textarea>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" step="0.01" name="Price" />
    </div>
    <div>
        <label for="quantity">Quantity:</label>
        <input type="number" name="Quantity" />
    </div>
    <div>
        <input type="file" name="Image" id="Image">
    </div>
    <button type="submit">Submit Product</button>
</form>