@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Index page!</h1>
<h1>Welcome, @ViewBag.UserName!</h1>

<a href="@Url.Action("StoreProfile", "Account", new { storeUsername = "novaisStore" })">View my store profile</a>

@Html.ActionLink("Login", "Login", "Account")